.chats {
    width: 100%;
    max-width: 850px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

/* For Chrome / Edge */
.chats::-webkit-scrollbar {
    width: 6px;
}

.chats::-webkit-scrollbar-track {
    background: transparent;
}

.chats::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {
    background-color: transparent;
    color: #e5e5e5;
    text-align: left;
    /* max-width: 75%; */
    /* padding: 8px 12px; */
    font-size: 0.9rem;
}

/* .gptDiv p, .gptDiv pre {
    background-color: #313138;
    padding: 12px 16px;
    border-radius: 10px;
    max-width: 100%;
} */

.userDiv, .gptDiv {
    margin: 10px 0;
}

.userMessage {
    background-color: #303030;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    max-width: 75%;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}