.sidebar {
    background-color: #121212;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 25px;
    width: 25px; 
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 0.25px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);        
}

button span {
    font-size: 20px;
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

/* For Chrome / Edge */
.history::-webkit-scrollbar {
    width: 6px;
}

.history::-webkit-scrollbar-track {
    background: transparent;
}

.history::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

.history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: 10px solid transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.fa-trash:hover {
    color: #f45a5a !important;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}


.sign {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-top: 0.25px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

